---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';

import { getAllGalleryItems } from '../../utils/fetchData';

export async function getStaticPaths() {
	const items = await getAllGalleryItems();
	const paths = items.map((item, index) => {
		const isFirst = index === 0;
		const isLast = index === items.length - 1;
		const nextIndex = isLast ? null : index + 1;
		const prevIndex = isFirst ? null : index - 1;

		return {
			params: { id: item.ID },
			props: {
				item,
				nextId: nextIndex !== null ? items[nextIndex].ID : null,
				prevId: prevIndex !== null ? items[prevIndex].ID : null,
				isFirst,
				isLast,
			},
		};
	});
	return paths;
}
const { item, nextId, prevId, isFirst, isLast } = Astro.props;
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			.disabled {
				color: grey;
				pointer-events: none;
			}
			span {
				display: inline-block;
				width: 46%;
				@media (max-width: 620px) width: 100%;
			}
			.gallery-item {
				border: 1px solid #eee;
				padding: 10px;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
				text-align: center;
			}
			.gallery-item img {
				display: inline-block;
				vertical-align: top;
				width: 46%;
				margin: 20px 30px 0 0;
			}
		</style>
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<!-- PREV / NEXT buttons -->
			<nav class='gallery-navigation'>
				<a href={`/gallery/${prevId}`} class={`prev ${isFirst ? 'disabled' : ''}`}>Previous</a>
				<a href={`/gallery/${nextId}`} class={`next ${isLast ? 'disabled' : ''}`}>Next</a>
			</nav>
			<!-- ---------------- -->

			<!-- full gallery entry -->
			<section class='gallery-detail'>
				<div class='gallery-item'>
					<img src={item.Image} alt={item.Species} />
					<h3>{item.Species}</h3>
					<span>
						<p>{item.DesignType}</p>
						<p>Owner: {item.Owner}</p>
						<p>Artist: {item.Artist}</p>
						<p>Designer: {item.Designer}</p>
						<p>Worth: {item.Worth}</p>
						<p>Status: {item.Status}</p>
						<p>Transaction Type: {item.TransactionType}</p>
						<p>Notes: {item.Notes}</p>
					</span>
				</div>
			</section>
			<!-- ---------------- -->
		</main>
		<Footer />
	</body>
</html>
